<!DOCTYPE html>
<html>

<head>
    <title>Fitness Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <style>
        .wow:first-child {
            visibility: hidden;
        }
    </style>


    <script type="text/javascript">
        window.onload = function () {
            var today = new Date().toISOString().split('T')[0];
            document.getElementsByName("setTodaysDate")[0].setAttribute('min', today);
        }

    </script>
</head>

<body>

    <!-- Start Header  -->
    <header>
        <div class="container">
            <div class="logo">
                <a href="">Fitness<span>Club</span></a>
            </div>
            <a href="javascript:void(0)" class="ham-burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/trainers">Trainers</a></li>
                    <li><a href="/schedule">Schedule</a></li>
                    <li><a href="/price">Price</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- Start About -->
    <section class="about" id="about">
        <div class="container">
            <div class="content">
                <div class="box wow bounceInUp">
                    <div class="inner">
                        <div class="img">
                            <img src="images/about1.jpg" alt="about" />
                        </div>
                        <div class="text">
                            <h4>Free Consultation</h4>
                            <p>
                                We believe that every individual is unique, and our free consultation is tailored to
                                your specific needs and goals.
                                During this personalized session, our experts will discuss your fitness objectives,
                                assess your current fitness level, and outline a customized plan to help you reach your
                                aspirations.
                                It's your first step toward a better you, and it's absolutely free. Book your
                                consultation today and let's embark on this transformative journey together.</p>
                        </div>
                    </div>
                </div>
                <div class="box wow bounceInUp" data-wow-delay="0.2s">
                    <div class="inner">
                        <div class="img">
                            <img src="images/boxer1.jpg" alt="about" />
                        </div>
                        <div class="text">
                            <h4>Excellence in Training</h4>
                            <p> We provide nothing less than the finest fitness programs,
                                meticulously designed by certified experts dedicated to your success. Our training is
                                marked by personalized attention, cutting-edge techniques,
                                and a supportive atmosphere that empowers you to reach your peak performance. Join us
                                today and experience the unparalleled quality of our training.
                                Your journey to a stronger, healthier, and happier you begins here.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="box wow bounceInUp" data-wow-delay="0.4s">
                    <div class="inner">
                        <div class="img">
                            <img src="images/about3.jpg" alt="about" />
                        </div>
                        <div class="text">
                            <h4>Build Perfect Body</h4>
                            <p> We're dedicated to helping you sculpt the perfect body you've always envisioned. Our
                                tailored fitness programs,
                                led by certified trainers, focus on building strength, enhancing muscle tone, and
                                improving overall physique.
                                Whether your goal is to gain muscle, shed excess weight, or simply feel more confident
                                in your own skin,
                                we're here to guide you on your journey. Join us and embark on the path to your ideal
                                physique today.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $(".ham-burger, .nav ul li a").click(function () {

                $(".nav").toggleClass("open")

                $(".ham-burger").toggleClass("active");
            })
            $(".accordian-container").click(function () {
                $(".accordian-container").children(".body").slideUp();
                $(".accordian-container").removeClass("active")
                $(".accordian-container").children(".head").children("span").removeClass("fa-angle-down").addClass("fa-angle-up")
                $(this).children(".body").slideDown();
                $(this).addClass("active")
                $(this).children(".head").children("span").removeClass("fa-angle-up").addClass("fa-angle-down")
            })

            $(".nav ul li a, .go-down").click(function (event) {
                if (this.hash !== "") {

                    event.preventDefault();

                    var hash = this.hash;

                    $('html,body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {
                        window.location.hash = hash;
                    });

                    // add active class in navigation
                    $(".nav ul li a").removeClass("active")
                    $(this).addClass("active")
                }
            })
        })

    </script>
    <script src="js/wow.min.js"></script>
    <script>
        wow = new WOW(
            {
                animateClass: 'animated',
                offset: 0,
            }
        );
        wow.init();
    </script>
</body>

</html>