<html>

<head>
	<title>Fitness Club</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<style>
		.wow:first-child {
			visibility: hidden;
		}
	</style>


	<script type="text/javascript">
		window.onload = function () {
			var today = new Date().toISOString().split('T')[0];
			document.getElementsByName("setTodaysDate")[0].setAttribute('min', today);
		}

	</script>
</head>

<body>
	
	<!-- Start Header  -->
	<header>
		<div class="container">
			<div class="logo">
				<a href="">Fitness<span>Club</span></a>
				<!-- <a href="">Signup</a> -->
				
				
			</div>
			
				
			<a href="javascript:void(0)" class="ham-burger">
				<span></span>
				<span></span>
				<span></span>
			</a>
		
			<div class="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/service">Services</a></li>
					<li><a href="/trainers">Trainers</a></li>
					<li><a href="/schedule">Schedule</a></li>
					<li><a href="/price">Price</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- End Header  -->

	<!-- Start Home -->
	<section class="home wow flash" id="index">
		<div class="container">
			<h1 class="wow slideInLeft" data-wow-delay="1s">Fitness<span> Redefined,</span></h1>
			<h1 class="wow slideInRight" data-wow-delay="1s">Limits<span> Redrawn.</span></h1>
		</div>
		<!-- go down -->
		<a href="/about" class="go-down" style="width: 100px;">
			<i class="fa fa-angle-right" aria-hidden="true">About us</i>
		</a>
		<!-- go down -->

	</section>
	<!-- End Home -->


	




	

	<!-- Start Gallery -->
	<section class="gallery" id="gallery">
		<h2>Workout Gallery</h2>
		<div class="content">
			<div class="box wow slideInLeft">
				<img src="images/gallery1.jpg" alt="gallery" />
			</div>
			<div class="box wow slideInRight">
				<img src="images/gallery2.jpg" alt="gallery" />
			</div>
			<div class="box wow slideInLeft">
				<img src="images/virat-kohli.jpg" alt="gallery" />
			</div>
			<div class="box wow slideInRight">
				<img src="images/gallery4.jpg" alt="gallery" />
			</div>
		</div>
	</section>
	<!-- End Gallery -->

	

	

	<!-- <section class="gallery" id="regards">
		<div class="box wow slideInRight">
			<img src="images/gallery2.jpg" alt="gallery" /> -->
		<!-- </div>
		<h1>Welcome to your fitness journey.</h1>
		<h1>You Chose the Best!</h1> -->
	<!-- </section> -->
	<!-- Start Contact -->
	



	<!-- jquery -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {

			$(".ham-burger, .nav ul li a").click(function () {

				$(".nav").toggleClass("open")

				$(".ham-burger").toggleClass("active");
			})
			$(".accordian-container").click(function () {
				$(".accordian-container").children(".body").slideUp();
				$(".accordian-container").removeClass("active")
				$(".accordian-container").children(".head").children("span").removeClass("fa-angle-down").addClass("fa-angle-up")
				$(this).children(".body").slideDown();
				$(this).addClass("active")
				$(this).children(".head").children("span").removeClass("fa-angle-up").addClass("fa-angle-down")
			})

			$(".nav ul li a, .go-down").click(function (event) {
				if (this.hash !== "") {

					event.preventDefault();

					var hash = this.hash;

					$('html,body').animate({
						scrollTop: $(hash).offset().top
					}, 800, function () {
						window.location.hash = hash;
					});

					// add active class in navigation
					$(".nav ul li a").removeClass("active")
					$(this).addClass("active")
				}
			})
		})

	</script>
	<script src="js/wow.min.js"></script>
	<script>
		wow = new WOW(
			{
				animateClass: 'animated',
				offset: 0,
			}
		);
		wow.init();
	</script>
</body>

</html>